{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <section class="cart content-site">
    <h2 class="title-reset">Cart</h2>
    {% if items | length > 0 %}
        <table>
            <thead>
                <tr>
                    <td>Product(s)</td>
                    <td>Prix</td>
                    <td>Quanity</td>
                    <td>Total</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td class="product-description-cart"><span>{{ item.product.name }}</span><img src="{{ asset('assets/img/products/')}}{{ item.product.img }}"></td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}</td>
                    <td><a href="{{ path('cart_remove', {'id': item.product.id}) }}"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><strong class="strong-item">Total : </strong></td>
                    <td><strong class="strong-item">{{ total }} €</strong></td>
                </tr>
            </tfoot>
        </table>
        <a class="btn-custom btn-black">Go Checkout</a>
    {% else %}
        <div class="empty-cart">
            <h3>Your cart is empty...</h3>
        </div>
    {% endif %}

    </section>

{% endblock %}
