{% extends 'base.html.twig' %}

{% block title %}{{ page_name}}{% endblock %}

{% block body %}


    <section id="home-brand" class="brand-full-whidth">
        <div class="back-black-brand"></div>
        <article>
            <h1>Sneakers Store</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <a class="btn-custom btn-white" href="{{ path('shop') }}">See Shop</a>
        </article>
    </section>


    <aside class="title-section content-site"><h2>Bestseller</h2></aside>
    <section class="boucle-produit content-site">
        {% for product in products | slice(0,3) %}
           <a class="box-produit" href="{{ path ('product_simple', {id:product.id}) }}">
                <aside class="box-produit-content">
                    <div class="product-title-home"><h2>{{ product.name }}</h2></div>
                    <div class="product-img-home"><img src="{{ asset('assets/img/products/') }}{{ product.img }}"></div>
                    <div class="product-description-home"><p>{{ product.description|length > 50 ? product.description|slice(0, 100) ~ '...' : product.description}}</p></div>
                    <div class="product-price-home"><h4>{{ product.price }} €</h4></div>
                    <form action><button class="btn-custom btn-black btn-add-to-cart">Add to cart</button></form>
               </aside></a>
        {% endfor%}
    </section>






{% endblock %}
